<<<<<<< HEAD
<h3>Student Form</h3>
=======
>>>>>>> 3cd70c33415891b98556c9a7235cb3e75c08435b
<%= form_for(@student) do |f| %>

  <%= f.text_field :first_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
